<script type="text/javascript">//<![CDATA[
    $(function() {
      if ($("html").hasClass("ie6") || $("html").hasClass("ie7") || $("html").hasClass("ie8")) {
        $("#myLoader").hide();
        $(".main").fadeIn("slow");
      } else {
        $(".background-image").load(function() {
          $("#myLoader").hide();
          $(".main").fadeIn("slow");
        });
      }
    });
  //]]></script>
<section class="main" style="display:none;">
  <div id="content">
    <div id="images">
      <%= image_tag "circle.png", id: 'circle', class: "clearfix" -%>
      <%= image_tag "circle-images/main_logo.png",  id: 'circle-content', class: "clearfix" -%>
    </div>
  </div>
</section>
