<section class="main">
  <div id="content">
    <div id="images">
      <%= image_tag "circle.png", id: 'circle', class: "clearfix" -%>
      <%= image_tag "circle-images/main_logo.png",  id: 'circle-content', class: "clearfix" -%>
    </div>
  </div>
</section>
