<script type="text/javascript">//<![CDATA[
    $(function() {
      $(".background-image").load(function() {
        $("#myLoader").hide();
        $(".main").fadeIn("slow");
      });

      $('.popup .close').click(function(){
        $('.popup, .overlay').fadeOut();
        splashResizer(); // force reload once more
      });
    });
  //]]></script>
<section class="main" style="display:none;">
  <div id="content">
    <div id="images">
      <%= image_tag "circle.png", id: 'circle', class: "clearfix" -%>
      <%= image_tag "circle-images/main_logo.png",  id: 'circle-content', class: "clearfix" -%>
    </div>
  </div>
</section>
