#menu {
  width: 1024px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

#menu-top-bar {
  margin-top: 20px;
  padding-left: 65px;
  width: 175px;
}

#menu-buttons {
  margin-top: 45px;
  float: right;
  width: 500px;
}

#menu p{
  float: right;
  width: 110px;
  height: 47px;
  margin: 0px;
  padding: 0 3px;
  position: relative;
  bottom: 0;
  background-repeat: no-repeat;
}

#menu p a {
  display: block;
  width: 100%;
  height: 30px;
  margin-left: -2px;
}

#firma-button {
  background-image: image-url("firma.png");
}
#firma-button.active,
#firma-button.hovered {
  background-image: image-url("firma_active.png") !important;
}

#urzadzenia-button {
  background-image: image-url("urzadzenia.png");
}

#urzadzenia-button.active,
#urzadzenia-button.hovered {
  background-image: image-url("urzadzenia_active.png") !important;
}

#partnerzy-button {
  background-image: image-url("partnerzy.png");
}

#partnerzy-button.active,
#partnerzy-button.hovered {
  background-image: image-url("partnerzy_active.png") !important;
}

#pomoc-button {
  background-image: image-url("pomoc.png");
}

#pomoc-button.active,
#pomoc-button.hovered {
  background-image: image-url("pomoc_active.png") !important;
}
